[tool.poetry]
name = "tap-github"
version = "0.0.1"
description = "`tap-github` is Singer tap for GitHub, built with the Singer SDK."
authors = ["AJ Steers (Meltano)"]
license = "Apache 2.0"

[tool.poetry.dependencies]
python = "<3.11,>=3.7.2"
requests = "^2.25.1"
singer-sdk = "^0.4.1"
# For local SDK dev:
# singer-sdk = {path = "../singer-sdk", develop = true}
# singer-sdk = {git = "https://gitlab.com/meltano/singer-sdk.git", rev = "97-hierarchical-streams"}
types-simplejson = "^3.17.2"
types-python-dateutil = "^2.8.6"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"
mypy = "^0.942"
flake8 = "^3.9.2"
black = "^22.1.0"
types-requests = "^2.25.6"
types-python-dateutil = "^2.8.9"
requests-cache = "^0.9.1"

[[tool.mypy.overrides]]
module = [
    "backoff",
]
ignore_missing_imports = true

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "tap_github"

[build-system]
# Uncomment the pinned version in favor of the git URL once
# https://github.com/python-poetry/poetry-core/pull/257 is merged
# and a new poetry-core 1.0.x is released
# requires = ["poetry-core>=1.0.0"]
requires = ["poetry-core @ git+https://github.com/python-poetry/poetry-core.git@master"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
tap-github = 'tap_github.tap:cli'
