[tool.poetry]
name = "tap-github"
version = "0.0.1"
description = "`tap-github` is Singer tap for GitHub, built with the Singer SDK."
authors = ["AJ Steers (Meltano)"]
license = "Apache 2.0"

[tool.poetry.dependencies]
python = "<3.9,>=3.6"
requests = "^2.25.1"
singer-sdk = "^0.1.5"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
tap-github = 'tap_github.tap:cli'
