[tool.poetry]
name = "tap-github"
version = "1.1.1"
description = "`tap-github` is Singer tap for GitHub, built with the Singer SDK."
authors = ["Meltano and Meltano Community"]
license = "Apache 2.0"

[tool.poetry.dependencies]
PyJWT = "2.4.0"
python = "<3.11,>=3.7.2"
requests = "^2.25.1"
# singer-sdk = "^0.4.9"
# For local SDK dev:
# singer-sdk = {path = "../singer-sdk", develop = true}
singer-sdk = {git = "https://github.com/meltano/sdk.git", rev = "67455a1df1cbc49c15e81e0dcd5f2aa951d87b55"}
types-simplejson = "^3.17.2"
types-python-dateutil = "^2.8.6"
nested-lookup = "^0.2.23"
beautifulsoup4 = "^4.11.1"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"
mypy = "^0.942"
flake8 = "^3.9.2"
black = "^22.1.0"
types-beautifulsoup4 = "^4.11.1"
types-requests = "^2.25.6"
types-python-dateutil = "^2.8.9"
requests-cache = "^0.9.1"
isort = "^5.10.1"
freezegun = "^1.2.1"
requests-mock = "^1.9.3"

[[tool.mypy.overrides]]
module = [
    "backoff",
]
ignore_missing_imports = true

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "tap_github"

[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
tap-github = 'tap_github.tap:cli'
