[tool.poetry]
name = "tap-github"
version = "1.4.2"
description = "`tap-github` is Singer tap for GitHub, built with the Singer SDK."
authors = ["Meltano and Meltano Community"]
homepage = "https://github.com/MeltanoLabs/tap-github"
repository = "https://github.com/MeltanoLabs/tap-github"
license = "Apache 2.0"
keywords = ["Meltano", "Singer", "Meltano SDK", "Singer SDK", "ELT", "Github"]
classifiers = [
	"Intended Audience :: Developers",
	"License :: OSI Approved :: Apache Software License",
	"Operating System :: OS Independent",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
	"Programming Language :: Python :: 3.11",
	"Programming Language :: Python :: 3.12",
	"Programming Language :: Python :: Implementation :: CPython",
	"Typing :: Typed",
]

[tool.poetry.urls]
"Issue Tracker" = "https://github.com/MeltanoLabs/tap-github/issues"

[tool.poetry.dependencies]
PyJWT = "2.9.0"
python = ">=3.8"
requests = "~=2.32.3"
# For local SDK dev:
# singer-sdk = {path = "../singer-sdk", develop = true}
singer-sdk = { version = "~=0.39.0", python = "<4" }
types-simplejson = "~=3.19.0"
types-python-dateutil = "~=2.9.0"
nested-lookup = "~=0.2.25"
beautifulsoup4 = "~=4.12.0"

[tool.poetry.dev-dependencies]
pytest = ">=7.3.1"
mypy = ">=1.3.0"
flake8 = ">=5.0.4"
black = ">=23.3.0"
types-beautifulsoup4 = ">=4.12.0"
types-requests = ">=2.30.0"
requests-cache = ">=1.0.1"
isort = ">=5.10.1"

[[tool.mypy.overrides]]
module = ["backoff"]
ignore_missing_imports = true

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
multi_line_output = 3    # Vertical Hanging Indent
src_paths = "tap_github"

[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
tap-github = 'tap_github.tap:cli'

[tool.pytest.ini_options]
markers = [
	"repo_list: mark a test as using a list of repos in config",
	"username_list: mark a test as using a list of usernames in config",
]
